.container{
    margin:auto;
    padding: 0% 1.5px;
}
#arrow_container{
    padding-left: 75%;
}
#arrow_Text{
    margin-top: -30px;
    padding-left: 60%;
    margin-left: 50px;
}
.arrows__Icon{
    display: flex;
    margin:10px;
    justify-content:space-evenly;
}
#Icon__up{
    left: 10px;
}
#downArrow{
   margin: 10px;
}
#download{
    margin-top: -15px;

    font-size: small;
    color: #555;
}
#upload{
    margin:5px;
    font-size: small;
    color: #555;
}
.check__Average{
    padding-left: 80%;
}